
        <div class="col-xs-4">
            <wj-radial-gauge
                [min]="0"
                [max]="10000"
                [value]="8000"
                [showText]="None"
                [startAngle]="startAngle"
                [sweepAngle]="sweepAngle"
                [tickSpacing]="tickSpacing"
                [needleShape]="needleShape"
                [needleLength]="needleLength"
                [thickness]=".2"
                [showTicks]="true"
                [showTickText]="true"
                [isReadOnly]="true">
            </wj-radial-gauge>
        </div>
            